.nav {  
    display: flex; 
    height: 100%;
    flex-direction: column;
  }

  .nav > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    flex-grow: 1;
  }
  
  .nav > div:nth-child(1) {
    background-color: #96ceb4;	
  }
  
  .nav > div:nth-child(2) {
    background-color: #ff6f69;
  }
  
  .nav > div:nth-child(3) {
    background-color: #88d8b0;
  }

  .nav > div:nth-child(4) {
    background-color: #ff6f69;
  }

  .nav {
    border: 5px solid #ffcc5c;
  }
  
  